<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home}">autoPost</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li><a th:href="@{/trivia}">Trivia</a></li>
      <li><a th:href="@{/help}">Help</a></li>
      <li><a th:href="@{/stats}">Stats</a></li>
    </ul>
    
    
   <!--  <form th:unless="${session.account != null}" th:action="@{/connect/facebook}" method="post" class="navbar-form navbar-right">
        <button class="btn btn-primary" type="submit">Login with facebook</button>
      </form> -->
      <ul th:unless="${session.account != null}" class="nav navbar-nav navbar-right">
        <li th:classappend="${#httpServletRequest.requestURI.startsWith(#httpServletRequest.getContextPath() + '/posts')} ? 'active'" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/posts/view}">View posts</a></li>
            <li><a th:href="@{/posts/add}">Add new post</a></li>
          </ul>
        </li>
        <li th:classappend="${#httpServletRequest.requestURI.startsWith(#httpServletRequest.getContextPath() + '/groups')} ? 'active'" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/groups/view}">View groups</a></li>
            <li><a th:href="@{/groups/add}">Add new group</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/groups/import/tsvFile}">import from tsv-file</a></li>
          </ul>
        </li>
       <!--  <li th:classappend="${#httpServletRequest.requestURI.equals(#httpServletRequest.getContextPath() + '/account')} ? 'active'">
          <a th:href="@{/account}" class="image"><img th:src="${session.account.image}"></img>
          </a>
        </li> -->
      </ul>
    
   
   
   
   
   
  </div>
</nav>