<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home}">autoPost</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li><a th:href="@{/trivia}">Trivia</a></li>
      <li><a th:href="@{/help}">Help</a></li>
      <li><a th:href="@{/stats}">Stats</a></li>
    </ul>
   <form th:if="${session.account} == null" method="post" class="navbar-form navbar-right" th:action="@{/connect/facebook}">
   	<button class="btn btn-primary" type="submit">Login with facebook</button>
   </form>
   <!-- TODO: th:unless  -->
   <ul class="nav navbar-nav navbar-right" th:unless="!${session.account == null}">
		<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Posts</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/posts/view}">view</a></li>
          <li><a th:href="@{/posts/add}">add</a></li>
        </ul>
      </li>
		<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Groups</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/groups/view}">view</a></li>
          <li><a th:href="@{/groups/add}">add</a></li>
        </ul>
      </li>

		<li><a th:href="@{/account}"><span class="glyphicon glyphicon-user"></span></a></li>
   </ul>
  </div>
</nav>